<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @douchebag.name %>
</p>

<p>
  <strong>How big:</strong>
  <%= @douchebag.how_big %>
</p>

<%= link_to 'Edit', edit_douchebag_path(@douchebag) %> |
<%= link_to 'Back', douchebags_path %>
